/* Style de base des liens de navigation */
.nav-link {
   position: relative;
   color: #fff;
   text-decoration: none;
   padding: 5px 0;
   font-size: 1.3rem;
   transition: color 0.3s ease;
   display: inline-block;
   text-align: center;
}

/* Surlignage pour le lien actif et au survol */
.nav-link::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -3px;
   width: 0;
   height: 2px;
   background-color: #ff4742;
   transition: width 0.3s ease;
   opacity: 0;
}

/* Animation au survol */
.nav-link:hover::after {
   width: 100%;
   opacity: 1;
}

/* Ligne de surlignage persistante pour le lien actif */
.active-link::after {
   width: 100%;
   opacity: 1;
}

/* Fixer le header en haut de la page */
.sticky-header {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: #343a40;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   width: 100%;
}

/* Style pour le texte du site */
.sticky-header .navbar-brand {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 1.6rem;
   color: #fff;
}

.sticky-header .navbar-brand .car-icon {
   color: #fff;
   font-size: 2rem;
   margin-left: 8px;
}

/* Style des liens de navigation */
.sticky-header .nav-link {
   color: #fff;
   font-size: 1.3rem;
   margin: 0 10px;
}

/* Style des liens actifs */
.sticky-header .nav-link.active-link {
   color: #ffffff;
}

/* Style du bouton de connexion */
.sticky-header .text-end .btn {
   margin: 0 10px;
   font-size: 0.9rem;
   /* Réduit la taille du texte du bouton */
   padding: 5px 10px;
   /* Ajuste le padding pour réduire la taille */
}

.login-btn {
   font-size: '2px';
   padding: '1px';
   background: transparent;
   margin-top: '12px';
   /* display: inline-block; */
}

/* Adaptation pour mobile */
@media (max-width: 767px) {
   .sticky-header .navbar-nav {
      text-align: center;
   }

   /* Centrer les liens de navigation */
   .sticky-header .nav-link {
      padding: 8px 0;
      margin: 0 auto;
      width: auto;
   }

   .login-btn {
      font-size: '2px';
      padding: '1px';
      background: transparent;
      margin-top: '12px';
      /* display: inline-block; */
   }
}